.sunImageDiv {
  width: 120px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.sunImage {
  width: 100%;
  transform: translate(-50% 50%);
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  &:hover {
    transform: rotate(90deg) scale(1.12);
  }
}

@media screen and (max-width: 1300px) {
  .sunImageDiv {
    width: 100px;
    top: 100px;
  }
}